

@font-face {
  font-family: 'SFUIDisplay-Light';
  src:url('../fonts/SFUIDisplay-Light.eot?-kwf309');
  src:url('../fonts/SFUIDisplay-Light.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Light.woff?-kwf309') format('woff'),
    url('../fonts/SFUIDisplay-Light.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'SFUIDisplay-Medium';
  src:url('../fonts/SFUIDisplay-Medium.eot?-kwf309');
  src:url('../fonts/SFUIDisplay-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Medium.woff?-kwf309') format('woff'),
    url('../fonts/SFUIDisplay-Medium.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Bold';
  src:url('../fonts/SFUIDisplay-Bold.eot?-kwf309');
  src:url('../fonts/SFUIDisplay-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Bold.woff?-kwf309') format('woff'),
    url('../fonts/SFUIDisplay-Bold.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Regular';
  src:url('../fonts/SFUIDisplay-Regular.eot?-kwf309');
  src:url('../fonts/SFUIDisplay-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular.woff?-kwf309') format('woff'),
    url('../fonts/SFUIDisplay-Regular.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Thin';
  src:url('../fonts/SFUIDisplay-Thin.eot?-kwf309');
  src:url('../fonts/SFUIDisplay-Thin.eot?#iefix-kwf309') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Thin.woff?-kwf309') format('woff'),
  url('../fonts/SFUIDisplay-Thin.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.row {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SFUIDisplay-Regular';
  background-color: #fff;
  line-height: normal;
  font-size: 14px;
}

a {color: #fff;}
a:hover {color: #fff;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}


button {
  border:none;
  background: none;
  box-shadow: unset;
  
}

button:focus {
  outline: none;
  box-shadow: unset;
}

img {
  max-width: 100%;
  height: auto;
}


header {
  padding: 12px 0 0 0;

  background-color: #fff;
}

.header-fixed {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header-fixed.sticky {
  width: 100%;
  padding: 12px 0 0 0;
}

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-img {
  display: block;
  max-width: 100%;
  width: 218px;
  height: 48px;
  background-image: url(../images/logo.png);
  transition: all 1s ease;
}
.sticky .logo-img {
  height: 40px;
  transition: all 1s ease;
}
.header-link {
  display: block;
  max-width: 100%;
  width: 218px;
  height: 12px;
  background-image: url(../images/sign.png);
  transition: all 1s ease;
}
.sticky .header-link {
  height: 0px;
  transition: all 1s ease;
}
/*
.header-fixed.sticky .header-logo {
  width: 190px;
  height: 42px;
  transition: all 1s ease;
}
*/

/*.header-fixed.sticky .header-link {
  width: 0px;
}*/



/*.header-fixed.sticky .header-logo2 {
  display: block !important;
  transition: all 1s ease;
}

.header-logo2 img {

}

.header-fixed .header-logo2 .header-link {
  height: 24px;
  width: 246px;
    
    background: url(../images/sign.png) no-repeat;
}

.header-fixed.sticky .header-logo2 .header-link {
  
}*/

.header-border {
  padding: 0;
  border-bottom: 1px solid #333;
}

.header-logo {
  width: 218px;
  margin: -1px auto 3px auto;
}


.header-logo a {
  transition: all 1s ease;
}

.social-ul {
  padding: 0 0 0 0;
  justify-content: right;
  display: flex;
  align-items: center;
}

.header-fixed .container-fluid .row {
 
}

.social-li a:hover {
  opacity: 0.5;
}

.social-li {
  padding: 0 0 0 5px;
}

.off-diler-wrap {
  display: flex;
  margin: 0 0 0 -12px;
  align-items: center;
}

.off-diler-wrap img {
  margin: 0 2px 0 0;
}

.off-diler {
      font-size: 10px !important;
    line-height: 10px !important;
    color: #777 !important;
    font-family: 'SFUIDisplay-Light'
}



.header-bottom {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-ul {
  display: flex;
  align-items: center;
}

.header-li {
  padding: 0 26px 0 0;
}

.header-li:not(.menu-point):nth-child(n+10) {
    display: none;
}
li.popup-menu-point:nth-child(-n+8) {
    display: none;
}

.header-li a {
  padding: 0 0 5px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'SFUIDisplay-Regular';
  font-size: 17px;
  line-height: 33px;
  color: #000;
}

.header-open-link-li a img {
  width: 220px;
  height: 214px;
}

.header-open-link-li {
  padding: 0 0 20px 0;
  text-align: right;
  height: 50%;

}

.header-open-link-li:last-child {
  padding: 0;
}

.header-open-link {
  text-align: right;
}

.header-open-link-li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.header-open-link-li a:hover:before {
  display: none;
}

.header-open-link a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.header-open-link a:hover:before {
  display: none;
}

.btn-secondary {
  font-family: 'SFUIDisplay-Regular';
  font-size: 17px;
  line-height: 36px;
  color: #333;
  text-transform: uppercase;
}

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}

.btn-secondary:hover {
  color: #333;
}


.header-open-pd {
  padding: 0;
}

.header-open-ul2 {
  padding: 30px 0 0 0;
}

.header-open-li {
  padding: 0 0 0 0;
}

.header-open-li a {
  font-family: 'SFUIDisplay-Medium' !important;
}

.header-open-li a {
  text-transform: unset;
  color: #000;
  font-family: 'SFUIDisplay-Regular';
  font-size: 14px;
  line-height: 30px;
}

.header-open-li2 a {
  text-transform: unset;
  color: #777;
  font-size: 14px;
  line-height: 21px;
  font-family: 'SFUIDisplay-Regular';
}

.header-open-li a:hover {
  text-decoration: underline;
}

.header-open-li2 a:hover {
  color: #000;
  text-decoration: underline;
}

.header-open-li a:hover:before {
  width: 0;
  display: none;
}

.header-open-li2 a:hover:before {
  width: 0;
  display: none;
}

.header-open-ul3 {
  padding: 0 0 10px 0;
}

.header-open-ul3 {
  font-size: 10px;
  line-height: 10px;
  color: #000;
  text-transform: uppercase;
  font-family: 'SFUIDisplay-Bold';
}

.header-open-ul3 a {
  padding: 0 !important;
  border-left: none !important;
  font-size: 10px !important;
  line-height: 10px !important;
  color: #777 !important;
  font-family: 'SFUIDisplay-Light' !important;
  text-transform: uppercase;
}

.header-open-ul3 a:hover {
  text-decoration: underline;
}

.header-open-ul3 a:hover:before {
  display: none;
}

.header-open {
  display: none;
  z-index: 3;
  background: #fff;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 300px;
  padding: 20px 0 20px 0;
  box-shadow: 0 1.5px 0 0;
  border-top: 1px solid #333;
}

.header-open2 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open3 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open4 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open5 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open6 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open7 { 
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 2px solid #333;
}

.header-open8 {
  height: 500px;
  display: none;
  z-index: 3;
  background: #fff;
  margin-top: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 25px 0 25px 20px;
  border-bottom: 2px solid #333;
}





.header-li:hover .header-open {
  display: block;
}

.header-li:hover .header-open2 {
  display: block;
}

.header-li:hover .header-open3 {
  display: block;
}

.header-li:hover .header-open4 {
  display: block;
}

.header-li:hover .header-open4 .row {

}

.header-li:hover .header-open5 {
  display: block;
}

.header-li:hover .header-open6 {
  display: block;
}

.header-li:hover .header-open7 {
  display: block;
}

.header-li2:hover .header-open8 {
  display: block;
}

.header-ul2 {
  display: flex;
  align-items: center;
}

.filter-mb {
  padding: 0 10px 0 0;
}

.col-ft {
  padding: 0 15px 0 0;
}

.col-ft2 {
  padding: 0 0 0 15px;
}

.col-work-right {
  padding: 0 0 0 0;
}

.header-li2 a {
  position: relative;
  text-decoration: none;
  padding: 0 15px 0 15px;
  border-left: 1px solid #b6b2b1;
  text-transform: uppercase;
  font-family: 'SFUIDisplay-Regular';
  font-size: 17px;
  line-height: 33px;
  color: #000;
}

.col-right-work {
  padding: 0 10px;
}

.header-li2-last a {
  padding: 0 0 0 15px;
}

.header-li2 a span {
  color: rgb(177,35,34); 
}

.header-li > a:before {
  position: absolute;
  left: 48%;
  bottom: 0;
  content: '';
  border-radius: 50%;
  width: 0px;
  height: 5px;
  background: #2c2c2b;
}

.header-li > a:hover:before {
  width: 5px;
}

.header-li2 a:before {
  position: absolute;
  left: 50%;
  bottom: -4px;
  margin-left: -5px;
  content: '';
  width: 0px;
  height: 5px;
  background: #2c2c2b;
}

.header-li2 a:hover:before {
  width: 10px;
}

/*work*/

.work {
  padding: 120px 0 70px 0;
}

.work-links {
  display: flex;
  align-items: center;
}

.work-link a {
  font-size: 12px;
  line-height: 30px;
  color: #000;
  font-family: "SFUIDisplay-Thin";
}

.work-defiz {
  font-size: 12px;
  line-height: 30px;
  color: #000;
  padding: 0 7px;
  font-family: "SFUIDisplay-Thin";
}

.work-filtr {
  font-size: 12px;
  line-height: 30px;
  color: #000;
}

/*CSS ЧЕКБОКСА*/

.text-chekbox {
  color: #333;
  font-size: 13px;
  line-height: 24px;
}

.text-chekbox2 {
  color: #333;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
}

label {
  color: #4a4a4a;
  font-weight: normal;
  padding-top: 2px;
}

.checkbox > [type=checkbox],
.checkbox > label {
  margin-bottom: 0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox > [type=checkbox]:not(:checked),
.checkbox > [type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox > [type=checkbox]:not(:checked) + label,
.checkbox > [type=checkbox]:checked + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

.checkbox > [type=checkbox]:not(:checked) + label:before,
.checkbox > [type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 4px;
  border: 1.5px solid #cccccc;
}

.checkbox > [type=checkbox]:checked + label:before {
  border: 1.5px solid #000;
}

.checkbox > [type=checkbox]:not(:checked) + label:after,
.checkbox > [type=checkbox]:checked + label:after {
  font: normal normal normal 12px/1 "Glyphicons Halflings";
  content: '';
  position: absolute;
  top: 50%;
  width: 10.5px;
  height: 10.5px;
  margin-top: -5.5px;
  left: 3.5px;
  color: #ffffff;
  background: #333;
  transition: all 0.2s;
  padding: 0.21em;
  border-radius: 2px;
}

.checkbox > [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox > [type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox > [type=checkbox][data-indeterminate] + label:after,
.checkbox > [type=checkbox][data-indeterminate] + label:after {
  content: "−";
  left: 2px;
  opacity: 1;
  transform: scale(1);
}

.checkbox > [type=checkbox]:disabled:not(:checked) + label:before,
.checkbox > [type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
  color: #dadada;
  background-color: #e4e4e4 !important;
}

.checkbox > [type=checkbox]:disabled:checked + label:after {
  color: #dadada;
  cursor: not-allowed;
}

.checkbox > [type=checkbox]:disabled + label {
  color: #aaa;
  cursor: not-allowed;
}

.checkbox > [type=checkbox]:checked:focus + label:before,
.checkbox > [type=checkbox]:not(:checked):focus + label:before {
  border: 1.5px solid #333;
 
}

.checkbox > label:hover:before {
  border: 1.5px solid #333 !important;
}

.text-chekbox2:hover {
  font-size: 14px;
  font-family: 'SFUIDisplay-Medium';
}

.checkbox > [type=checkbox]:disabled:not(:checked) + label:hover:before,
.checkbox > [type=checkbox]:disabled:checked + label:hover:before {
  border: 1.5px solid #E4E4E4 !important;
}


/*ACCARDION*/

.work-accordion {
  padding: 10px 0 0 0;
}

.card {
  border: none;
}

.card-header {
  padding: 0;
  border-bottom: none;
  background: #fff;
}

.collapsed {
  text-align: left;
  padding: 10px 0 10px 10px !important;
  width: 100%;
  display: block;
  background: #fff !important;
  border-bottom: 1px solid #e4e5e7 !important;
}

.btn:not(:disabled):not(.disabled) {
  background: #f7f8fa !important;
  width: 100%;
  display: block;
  padding: 10px 0 10px 10px !important;
  text-align: left;
}



.btn-link {
  position: relative;
  font-family: 'SFUIDisplay-Medium';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.btn-link:hover {
  color: #000;
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
}

.btn-link:before {
  content: '';
  background: url(../images/arrow.svg) no-repeat !important;
  position: absolute !important;

  width: 7px !important;
  height: 13px !important; 
  right: 14px !important;
  bottom: 0 !important;
  top: 12px !important;
}

.btn {
  background: #fff !important;
}

.card-body {
  padding: 5px 0 5px 10px;
}

.accordion-li a {
 font-family: 'SFUIDisplay-Medium';
 text-decoration: none;
 border-bottom: 1px solid #000;
 line-height: 30px;
 font-size: 14px;
 color: #000;
}

.accordion-li2 a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;

}

.accordion-li2 a:hover {
  border-bottom: 1px solid #000;
}

.accordion-input {
  font-size: 13px;
  line-height: 28px;
  margin: 5px 0 10px 0;
  width: 100%; 
  color: #000;
  padding: 0 0 0 15px;
  background: #FFFFFF;
  border: 0.5px solid rgb(204, 204, 204);
  box-sizing: border-box;
    
}

.accordion-input:focus {
  outline: none;
}

.accordion-input::-webkit-input-placeholder {
 color:rgba(0, 0, 0, 0.51);
}

.accordion-input::-moz-placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.accordion-input:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.accordion-input::placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.accordion-ul2 {
  max-height: 400px;
  overflow: hidden scroll;
}

.work-chekbox {
  padding: 10px 0 0 10px;
}

.work-right {
  padding: 10px 0 0 0;
  margin: 0 -10px 0 0;
}

.catalog-titles {
  display: flex;
}

.catalog-title {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

.catalog-suptitle {
  font-size: 16px;
  color: #000;
  padding: 0 0 0 5px;
}

.catalog-sortirovka {
  position: absolute;
  bottom: 0;
  right: 15px;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.catalog-sortirovka a {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: underline;
}


.product-link {
  border-radius: 4px;
  display: block;
  position: relative;
}

.product-brand {
  font-family: 'SFUIDisplay-Medium';
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0 0 20px;
  color: #000;
  text-transform: uppercase;
}

.product-name {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 20px;
  color: #000;
}

.product-price {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0 0 20px;
  color: #000;
}

.product-price.reds {
      color: rgb(177,35,34) !important;
}

.product-price2 {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0 0 20px;
  color: #000;
  text-decoration: line-through;
}

.product-price-old {
  display: flex;
  align-items: center;
}

.product-price span {
  font-family: 'SFUIDisplay-Medium';
}

.product-img img {
  width: 100%;
}

.product-block {
  position: relative;
  padding: 0 0 40px 0;
  border-radius: 4px;
  overflow: hidden;
  border-radius: 4px;
  margin: 15px 0 20px 0;
  transition: box-shadow 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
}

.product-block:hover {
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px;
    transform: translate(0px, -4px);
    transition: box-shadow 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
    z-index: 0;
}






footer {
  background: #f2f3f4;
  padding: 50px 0 50px 0;
}

.footer-li a {
  font-size: 17px;
  line-height: 19px;
  color: #0f0b07;
  text-decoration: none;
}

.footer-li2 a {
  font-size: 17px;
  line-height: 19px;
  color: #0f0b07;
  text-decoration: none;
}

.footer-li2 a span {
  color: rgb(177,35,34);
  font-family: 'SFUIDisplay-Medium';
}

.footer-li2 a:hover {
  opacity: 0.9;
}

.footer-title {
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.footer-suptitle {
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.footer-link a {
  font-size: 13px;
  line-height: 18px;
  color: #000;

}


.footer-social {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-social-li {
  padding: 0 10px;
}

.footer-social-li a:hover {
  opacity: 0.7;
}


.mobila-header {
  display: none;
}


.head-wrap {
  align-items: center;
  padding: 0 0 0 15px;
  display: flex;
  justify-content: flex-end;
}

/*BURGER*/

.mt-munu-mb {
  padding: 0 0 0 0;
}

.work-chekbox-mb {
  display: none;
}

.burger {
  position: absolute;
  top: 0;
  left: 12px;
  display: none !important;
  color: #23f0ff;
  cursor: pointer;
  z-index: 1 !important;
  display: flex;
}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
  z-index:  15;
}

.body-open  {
  overflow: hidden;
}

.mt-mobile {
  position: absolute;
  top: 0;
  z-index: 50;
  left: 0;
  height: 100%;
  width: 90%;
  padding: 25px 0 0 0;
  background-color: #fff;
  transition: 0.2s ease all;
  clip-path: circle(100%);
  overflow-y: scroll;
}

.mt-mobile-close {
  padding-bottom: 10px;
}

.mt-mobile.nav-open {
  clip-path: circle(0px at 0px 0%);
}

.burger i svg {

}

.burger.burger-open i:nth-of-type(2) {
  margin-top: -50px;
}





.mt-munu-mb2 {
  padding: 0 0 0 0;
}







/*menu-accardion*/

.expand {

  float: right; 
  display: inline; 
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  margin: 0 10px;
}





.sidebar-1 {
  /* these are the styles for the container around the menu */
  width: 100%;
  padding: 0 0 15px 0;
  display:inline-block;
  
  
}

.sidebar-menu {
  /*this style impacts the look of the heading containers. */
  cursor: pointer;
  padding: 12px 0 12px 0; 
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .5px;
  padding-right: 50px;
}
  .sidebar-menu:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu:after {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu:after {
    transform: rotate(90deg);
  }


.open:before {
  background: #000;
  animation: turn-plus;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.open:after {
  background: #000;
  animation: turn-crossbar;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes turn-plus {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes turn-crossbar {
  0% {
    transform:none;
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sidebar-menu:hover {}

.sub-menu {
  /*this style is for the sub-menu box*/
  color: darken($maincolor,30%);
  padding: 0 0 0 15px;
  font-size: 1em;
  display: none;
  &:last-child {
    border-bottom: 0;
  }
}



.sidebar-2 {
  /* these are the styles for the container around the menu */
  width: 100%;
  padding: 0px;
  display:inline-block;
  
  
}

.sidebar-menu2 {
  /*this style impacts the look of the heading containers. */
  cursor: pointer;
  padding: 12px 0 12px 0; 
  position: relative;
  color:$maincolor;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  text-rendering: optimizeLegibility;
  letter-spacing: .5px;
  padding-right: 50px;
}
  .sidebar-menu2:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu2:after {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu2:after {
    transform: rotate(90deg);
  }


.open2:before {
  background: #000;
  animation: turn-plus;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.open2:after {
  background: #000;
  animation: turn-crossbar;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes turn-plus {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes turn-crossbar {
  0% {
    transform:none;
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sidebar-menu2:hover {}

.sub-menu2 {
  /*this style is for the sub-menu box*/
  color: darken($maincolor,30%);
  padding: 0 0 0 15px;
  font-size: 1em;
  display: none;
  &:last-child {
    border-bottom: 0;
  }
}


.sidebar-3 {
  /* these are the styles for the container around the menu */
  width: 100%;
  padding: 0px;
  display:inline-block;
  
  
}

.sidebar-menu3 {
  /*this style impacts the look of the heading containers. */
  cursor: pointer;
  padding: 12px 0 12px 0; 
  position: relative;
  color:$maincolor;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  text-rendering: optimizeLegibility;
  letter-spacing: .5px;
  padding-right: 50px;
}
  .sidebar-menu3:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu3:after {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: calc(28.7px - 12.5px);
    transition: all .2s ease;
  }

  .sidebar-menu3:after {
    transform: rotate(90deg);
  }


.open3:before {
  background: #000;
  animation: turn-plus;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.open3:after {
  background: #000;
  animation: turn-crossbar;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes turn-plus {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes turn-crossbar {
  0% {
    transform:none;
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sidebar-menu3:hover {}

.sub-menu3 {
  /*this style is for the sub-menu box*/
  color: darken($maincolor,30%);
  padding: 0 0 0 15px;
  font-size: 1em;
  display: none;
  &:last-child {
    border-bottom: 0;
  }
}


.burger-li a {
  color: #777;
  font-size: 14px;
  line-height: 25px;
}

.burger-li a:hover {
  color: #000;

}


.buger-link {
  border-top: 1px solid #777;
  padding: 15px 0 0 0;
}

.link-li {
  padding: 0 0 5px 0;
}

.link-li a {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
}

.header-input-mb {
  display: flex;
  justify-content: right;
}

.header-input {
  font-size: 16px;
  line-height: 28px;
  margin: 5px 0 10px 0;
  width: 100%; 
  color: #000;
  padding: 0 0 0 15px;
  height:25px; 
  background: #FFFFFF url(../images/loon-icon.svg) 99% 50% no-repeat;
  border: 0.5px solid rgb(204, 204, 204);
  box-sizing: border-box;
    
}

.header-input:focus {
  outline: none;
}

.header-input::-webkit-input-placeholder {
 color:rgba(0, 0, 0, 0.51);
}

.header-input::-moz-placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.header-input:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.header-input::placeholder {
  color:rgba(0, 0, 0, 0.51);
}

.sortirovka-mobila {
  display: none;
}

.sortirovka-mobila a {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: underline;
}


.modal-mobila {
  padding: 15px 0 0 0;
  position: relative;
  display: block;
  z-index: 2;
}

.btn:not(:disabled):not(.disabled) {
    border: none;
    background: none;
    padding: 0;
  }



.btn-primary {
  background: none;
  border: none;
  color: #000;
}

.btn-primary.focus, .btn-primary:focus {
    color: #000;
    border: none;
    box-shadow: none;
  }

.btn-primary:hover {
  color: #000;
  border: none;
  background: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #000;
  background: none;
  border: none;
}


button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}


.header-link-mobila {
  display: none;

}


.menu-point {
  position: relative;
}

.menu-point-wrap {
  position: absolute !important;
  padding:0 0 0 0;
  display: none;
  z-index: 1111;
  width: 200px;
}

.menu-point:hover .menu-point-wrap {
  display: block;
}

.menu-point:hover li.popup-menu-point a:before {
  background:none !important;
}

.popup-menu-point a {
  display: block;
}

.head-logo {
  text-align: right;
 
}

.nav-point li {
  margin: 0 0 0 0;
}

.nav-point li a {
  border-top: 1px solid #333;
   padding: 0 10px;
   background:#FFFFFF;
}

.scan {
  top: 13px;
    right: 105px;
}

.scan input {
    width: 300px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdcc;
    border-left: none;
    border-right: none;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
    padding: 5px;
    margin-top: -1px;
    border-top: none !important;
}

.scan input:focus {
    border-left: none;
    border-right: none;
    border-top: none !important;
    
    outline: none;

}

.scan input:focus{color: #000;border-bottom: #323232 1px solid; }


.scan input::-webkit-input-placeholder {
  color: #000;
}

.scan input::-moz-placeholder {
  color: #000;
}

.scan input:-ms-input-placeholder {
  color: #000;
}

.scan input::placeholder {
  color: #000;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.hid {
    overflow: hidden;
}
.abs {
    position: absolute;
}
.hide {
    display: none;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.burger-box {
  z-index: 10;
  position: relative;
 
  display: block;
  width: 145px;
  
  cursor: pointer;
}

.burger-box span {
  color:#000;
  position: relative;
  z-index: 111;
}

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.burger2 {
  content: "";
  font-size: 0px;
  user-select: none;
  position: absolute;
  top: 25px;
  left: unset;
  right: 15px;
  width: 24px;
  height: 0;
  background: #fff;
  
}
.burger2:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 1px;
  background: #000;
  top: -8px;
  left: 0;
  content: "";
  transform: rotateZ(-45deg);
}
.burger2:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 1px;
  background: #000;
  top: 8px;
  left: 0;
  transform: rotateZ(45deg);
  content: "";
}

 .burger2.is-open {

  transition: all 0.25s linear;
  background: transparent;

}
.burger2.is-open:before {
  top: 0;
  
  background:#000;
}
.burger2.is-open:after {
  top: 0;
  background:#000;
  
}

.sliding-panel-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 26%;
  padding: 0 0 0 10px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #fff;
  z-index: 998;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
.sliding-panel-content li {
  list-style: none;
}
.sliding-panel-content li:first-child {
  
}
.sliding-panel-content li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.sliding-panel-content li a:focus {
  /*background-color: #4d4d4d;*/
}
.sliding-panel-content li a:hover {
  /*color: #fff;*/
}
.sliding-panel-content.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  padding: 10px 13px 30px 13px;
}

.sliding-panel-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 997;
}
.sliding-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.sliding-panel-button {
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;
}
.sliding-panel-button img {
  height: 1.3em;
}


.header-open-li3 {
  display: flex;
  align-items: center;
}

.header-open-li3 img {
  margin: 0 2px 0 -12px;
}

.header-open-link a img {
  height: auto;
}

.header-open-link {
    text-align: right;
    overflow: hidden;
    height: 450px;
}

.phone-link svg {
  width: 20px;
}

.insta-icon {
  font-size: 23px !important;
  color:#000;
  margin-top: -4px;
}

.phone-icon {
  cursor: pointer;
  width: 20px;
}

.heart-icon {
  font-size: 23px !important;
  line-height: 23px !important;
  vertical-align: -14%;
  color: #000;
}

.flip-horisontal {
  -moz-transform: scale(1,-1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.modal-title {
  border-bottom: 1px solid #333;
  padding: 0 0 10px 0;
}

div.product-like.checked {
   color: rgb(177,35,34);
}

.product-block .product-like.checked {
  opacity: 0.7;
  background-color: transparent;
}

.product-block a.product-link {
  color: #000;
}

.product-block a.product-link:hover {
  text-decoration: none;
}

div.product-like.checked:hover::before {
    content: "Убрать";
    padding-right: 3px;
    color: rgb(177,35,34);
}

.product-link:hover div.product-like {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    transition: all .5s ease;
}

.product-link:hover div.product-like:hover {
  background: #fff;
}

div.product-like {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    transition: opacity .5s ease;
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    font-size: 11px;
    padding: 4px 5px 3px 5px;
    cursor: pointer;
}

div.product-like:hover:before {
    color:#000;
    content: 'В избранное';
    padding-right: 3px;
}

.fa-lg3 {
    font-size: 20px !important;
    line-height: 20px !important;
    vertical-align: -14%;
}

.heart-icon {
  position: relative;
  line-height: 10px !important;
  vertical-align: 0% !important;
}

.close-filter {
  text-align: right;
  padding: 0 15px 0 0;
  margin: 9px 0 -34px 0;
  cursor: pointer;
}

.show-brends {
  font-size: 14px;
  padding: 15px 0 0 0;
  border-top: 1px solid #000;
  color:#000;
  display: block;
  margin-bottom: 35px;
  margin-top: 10px;
}

.show-brends:hover {
  color:#000;
}

.filter-clean-flex {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.clean-filter {
  font-size: 13px;
  font-family: 'SFUIDisplay-Medium';
  border:1px solid #000;
  color:#000;
  padding: 16px 0 15px 0;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 5px 0 0;
}


.clean-watch {
  font-size: 13px;
  font-family: 'SFUIDisplay-Medium';
  border:1px solid #000;
  background: #000;
  color:#fff;
  padding: 16px 0 15px 0;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 0 0 5px;
}


.header-open-pd {
  max-width: 60%;
  flex: 0 0 60%;
}

.header-open-pd2 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0;
}

.header-open-pd2 .row {
  width: 100%;
  justify-content: flex-end;
}

.header-open-pd4 .row {
  width: 100%;
  justify-content: flex-end;
}

.header-open-pd6 .row {
  width: 100%;
  justify-content: flex-end;
}

.col-open-img {
  padding: 0 20px 0 0;
  max-width: 320px;
}

.col-open-img2 {
  padding: 0 0 10px 0;
  max-width: 220px;
}





.header-open-pd3 {
  max-width: 20%;
  flex: 0 0 20%;
}

.header-open-pd4 {
  max-width: 80%;
  flex: 0 0 80%;
  padding: 0;
}


.header-open-pd5 {
  max-width: 30%;
  flex: 0 0 30%;
}

.header-open-pd6 {
  max-width: 70%;
  flex: 0 0 70%;
  padding: 0;
}


.col-open-img3 {
  max-width: 240px;
  padding: 0 20px 0 0;
}

.col-open-img4 {
  padding: 0;
  max-width: 465px;
}

.col-open-img5 {
  max-width: 240px;
  padding: 0 0 0 20px;
}

.col-open-img6 {
  width: 585px;
  padding: 0 10px 0 0;
}


.col-open-img7 {
  padding: 0 0 10px 0;
  max-width: 230px;
}

.footer-social-li2 {
  padding: 0 0 0 10px;
}

.header-open-link-image3 a img {
  height: 450px;
}


.favorites-qty {
  font-family: 'SFUIDisplay-Regular';
    background-color: #b12322;
    color: #fff;
    border-radius: 50%;
    padding: 3px 6px 2px 6px;
    min-width: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    top: 3px;
    right: -7px;
    z-index: 2;
}


.applied-params-title {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.param {
    border: 0.5px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 2px 5px;
    margin: 5px 9px 5px 0;
    float: left;
    cursor: pointer;
}

.param:after {
    content: 'x';
    padding: 0 3px 0 8px;
}

.clear-all-params {
    float: left;
    font-size: 14px;
    color:#000;
    padding: 8px 15px 11px 0;
}

.clear-all-params:hover {
  text-decoration: underline;
  color:#000;

}


.pagination {
  justify-content: center;
    margin: 10px 0 20px 0;
}

.pagination li.pagination-previous a::before {
    content: "";
    background-image: url(/img/icon-arrow-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.pagination li.pagination-next a::after {
    content: "";
    background-image: url(/img/icon-arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.pagination-next a::after, .pagination-next.disabled a::after {
    display: inline-block;
    margin-left: 7px;
    content: 'Â»';
}
.pagination-previous a::before, .pagination-previous.disabled a::before {
    display: inline-block;
    margin-right: 7px;
    content: 'Â«';
}
.pagination .disabled.pagination-previous a:before, .pagination .disabled.pagination-previous a:after, .pagination .disabled.pagination-next a:before, .pagination .disabled.pagination-next a:after {
    opacity: .2;
}
.pagination .disabled a{
    cursor: not-allowed;
}
.pagination li {
    border: 1px solid #e4e5e7;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}


.pagination li a {
    color: #777;
}
.pagination a, .pagination span{
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    color: #0a0a0a;
    font-family: 'SF UI Display',sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #f7f8fa;
}

.pagination li.active {
    background-color: #fff;
    border-color: #000;
    color: #000;
    pointer-events: none; /* Ð´ÐµÐ»Ð°ÐµÐ¼ ÑÑÑ‹Ð»ÐºÑƒ Ð½ÐµÐºÐ»Ð¸ÐºÐ°Ð±ÐµÐ»ÑŒÐ½Ð¾Ð¹ */
    cursor: default;
}

.footer-img {
  max-width: 100px;
  margin: auto;
}

.social-only-mb {
  display: none;
}


